body {
    background-color: rgb(19, 9, 166);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



.main-container {
    width: 500px;
    background-color: rgb(67, 13, 185);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    border-radius: 1.5%;
    padding: 20px;
    border: 4px solid black;
}
.main-container h1 {
    font-size: 22pt;
    color: #FFD700;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(72, 81, 4);
}
.robo {
    width: 200px;
    padding-left: 150px;
}

.container-input {
    
    display: flex;
    
    justify-content: center;
    gap: 20px;
}

.container-input input {
    background-color: rgb(231, 225, 225);
    border-radius: 10px;
    border: 2px solid black;
    height: 45px;
    width: 250px;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 30px;
}


.buttons {
    background-color: rgb(10, 81, 195);
    color: white;
    font-size: 22px;
    font-weight: bolder;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
}

.buttons:hover {
    background-color: rgb(70, 134, 237);
}